.theme-dialog {
  background-color: $subBgColor !important;
  border-radius: 0 !important;
  border-color: $borderColor !important;
  box-shadow: 0px 0px 14px $borderColor inset !important;
  .el-dialog__title,
  .el-dialog__close {
    color: $titleColor !important;
  }
  .el-dialog__body {
    color: $textColor;
  }
}
