.theme-popper {
  background-color: $subBgColor !important;
  border-radius: 0 !important;
  border-color: $borderColor !important;
  // border-color: $subBgColor !important;
  box-shadow: 0px 0px 14px $themeColor !important;
  .popper__arrow,
  .popper__arrow::after {
    // 透明
    // border-bottom-color: transparent !important;
    //这个属性基本不需要，想要透明只需要放开上一行就可以
    // border-color: transparent !important;
    border-bottom-color: $borderColor !important;
  }
  &.el-popover,
  .el-popover__title,
  &.el-tooltip__popper,
  .el-select-dropdown__item {
    color: $successColor !important;
  }
  .el-select-dropdown__item.selected,
  .el-select-dropdown__item.hover {
    color: $textColor !important;
    background-color: $highlightBgColor !important;
  }
  .available.current span {
    background-color: $successColor !important;
  }
  .el-time-spinner__item,
  .available,
  .el-picker-panel__icon-btn {
    color: $defaultColor;
  }

  .el-date-picker__header-label,
  th,
  td .cell {
    color: $borderColor !important;
  }

  .el-time-spinner__item.active,
  .available:hover,
  .el-picker-panel__icon-btn:hover,
  .el-date-picker__header-label:hover,
  th:hover,
  td .cell:hover,
  .available:hover {
    color: $successColor !important;
  }

  .el-time-spinner__item.active:hover {
    background: transparent !important;
  }
  .el-time-spinner__item:hover {
    background: $successColor !important;
    color: $textColor;
  }
  .el-time-panel__btn.confirm {
    color: $successColor;
  }
  .el-time-panel__btn.cancel {
    color: $defaultColor;
  }
  .el-time-panel__footer {
    border-color: $subBgColor;
    box-shadow: 0px 0px 14px $themeColor;
  }
  .el-scrollbar__thumb {
    background-color: rgba($color: $successColor, $alpha: 0.7);
  }
}
