/**滚动条的宽度*/
::-webkit-scrollbar {
  width: 5px; /*竖向*/
  height: 5px; /*横向*/
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  background-color: $titleColor;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: $bgColor;
}
