.theme-checkbox .el-checkbox,
.theme-checkbox.el-checkbox {
  color: $defaultColor;

  .el-checkbox__inner {
    background-color: transparent;
    border-color: $defaultColor;
  }
  & .is-indeterminate .el-checkbox__inner,
  .is-focus .el-checkbox__inner {
    border-color: $successColor !important;
  }
  & .is-indeterminate .el-checkbox__inner,
  &.is-checked .el-checkbox__inner {
    background-color: $successColor;
  }
  &.is-checked .el-checkbox__inner,
  &.is-checked .el-checkbox__label {
    color: $successColor !important;
    border-color: $successColor;
  }
}
